
myOS.xcodeproj/xcuserdata/Warangkana.xcuserdatad/xcschemes/xcschememanagement.plist

myOS.xcodeproj/xcuserdata/Warangkana.xcuserdatad/xcschemes/myOS.xcscheme

myOS.xcodeproj/project.xcworkspace/xcuserdata/Warangkana.xcuserdatad/UserInterfaceState.xcuserstate
